html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #3964a2;
  color: #fff;
}
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
  background-color: #477dca;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
dl {
  margin-bottom: 0.75em;
}
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
dl dd {
  margin: 0;
}

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  font-weight: normal;
  margin-bottom: 2em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #477dca;
  text-decoration: none;
  transition: color 150ms ease;
}
a:active, a:focus, a:hover {
  color: #355e98;
}

hr {
  border-bottom: 4px solid tomato;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
  width: 100%;
}

figure {
  margin: 0 0 0.75em 0;
}

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  padding: 1.5em 1.5em 0;
}
body::after {
  clear: both;
  content: "";
  display: table;
}

.l-s1--m2 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.l-s1--m2::after {
  clear: both;
  content: "";
  display: table;
}
.l-s1--m2 > * {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 100%;
}
.l-s1--m2 > *:last-child {
  margin-right: 0;
}
@media screen and (min-width: 700px) {
  .l-s1--m2 > * {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%;
  }
  .l-s1--m2 > *:last-child {
    margin-right: 0;
  }
  .l-s1--m2 > *:nth-child(2n) {
    margin-right: 0;
  }
  .l-s1--m2 > *:nth-child(2n+1) {
    clear: left;
  }
}

.gallery__img {
  border: 4px solid tomato;
  border-color: transparent;
  -webkit-transition: border linear 0.3s;
  -moz-transition: border linear 0.3s;
  transition: border linear 0.3s;
}
.gallery__img:hover {
  border-color: rgba(255, 99, 71, 0.5);
}
.gallery__img.selected {
  border-color: tomato;
  border-style: dashed;
}

/*# sourceMappingURL=screen.css.map */
