.gallery {
    &__img {
        border: $base-border;
        border-color: transparent;
        &:hover {
            border-color: rgba($base-border-color, .5);
        }
        &.selected {
            border-color: $base-border-color;
            border-style: dashed;
        }
        @include transition(border linear .3s);
    }
}