body {
    @include outer-container();
    padding: $base-spacing;
    @include padding($base-spacing $base-spacing 0);
}

.l-s1--m2 {
    @include outer-container();
    > * {
        @include span-columns(4);

        @include media($medium-screen-up) {
            @include span-columns(4);
            @include omega(2n);
        }
    }
}