<!doctype html>
<html lang="en">
<head>
    <title>Programming Test</title>

    <meta charset="UTF-8">
    <meta name="description" content="Programming Test to consume a JSON API, process some data and present it.">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="themes/beta/css/main.css">
    <script src="themes/beta/js/vendors.js"></script>
    <script src="themes/beta/js/app.js"></script>
</head>
<body ng-app="GalleryApp">

<header role="banner" class="header--main">
    <h1>flickr gallery</h1>
</header>

<main role="main" ng-controller="MainController">
    <section class="gallery l-s1--m2">
        <div ng-repeat="image in gallery">
            <figure>
                <img src="{{image.media.m}}" class="gallery__img"
                     ng-click="toggle(image)"
                     ng-init="isSelected(image)"
                     ng-class="{ 'selected' : image.selected }">
                <figcaption>{{image.title}}</figcaption>
            </figure>
        </div>
    </section>
</main>

</body>
</html>